* {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html {
	font-family: 'Raleway', sans-serif;
    font-family: 'Bitter', serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
 }
.row {
	margin-right: 0;
	margin-left: 0;
}
.pitch {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: 700;
	font-size: 42px;
	z-index: 100;
	position: absolute;
	left: 0;
	bottom: 50px;
	width: 100%;
	text-align: center;
	color: white;
}
.container-fluid {
	padding: 0;
}
header {
	display: inline-block;
	position: relative;
	height: 620px;
	color: white;
}
.navbar-default .navbar-nav>li>a {
	color: white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	font-size: 15px;
	background: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-default {
	background-color: black;
	border: none;
	height:  74px;
	transition: display 1s ease;
}

.navbar-hidden {
	display: none;
}

.navbar-brand {
	padding-top: 10px;
}
#header_video {
	width: 100%;
	z-index: -100;
}
.resize {
	width: 175px;
	height: auto;
	padding-left: 10%;
}
#get_started {
	border: 2px solid white;
	border-radius: 33px;
	margin-right: 50px;
}
#number {
	padding-right: 50px;
}
.tech_jobs {
	opacity: 1;
}

#loginstuff {
	padding-right: 100px;
}
/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
	background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}
.collapse

.fa {
	padding-right: 5px;
}
.our_culture {
	font-family: "Raleway", sans-serif;
	margin-top: 50px;
	text-align: center;
}
	.our_culture h1 {
		color: rgb(2, 118, 129);
		text-align: center;
	}
	.our_culture p {
		color: #505759;
		font-weight: bold;
		font-size: 175%;
		margin-bottom: 40px;
		text-align: center;
	}
.values {
	font-family: "Bitter", serif;
	display: inline-block;
	color: #505759;
	margin-bottom: 100px;
}
	.values h2 {
		text-align: center;
		font-weight: bold;
		color: #505759;
		font-size: 20px;
	}
	.values img {
		display: block;
		margin: auto;
		padding: 25px;
	}
	.values p {
		text-align: left;
		font-size: 16px;
	}
	.values:first-of-type {
		padding-left: 10%;
	}
	.values:last-of-type {
		padding-right: 10%;
	}
.lifeatsindeo {
	position: static;
	background: #dcddde;
	font-family: "Raleway", sans-serif;
	z-index: 100;
	padding-bottom: 100px;
}
	.lifeatsindeo h1 {
		color: #047681;
		font-weight: 300;
		font-size: 40px;
		text-align: center;
		padding-top: 50px;
	}
	.lifeatsindeo h2 {
		color: #505759;
		font-weight: 700;
		font-size: 24px;
		line-height: 26px;
		text-align: center;
	}
	.lifeatsindeo img {
		width: 200px;
		border-radius: 25px;
	}
.item {
	display:inline;
}
.slideshow {
	position: static;
	overflow: hidden;
	height: 300px;
	transform: translate3d(0, 0, 0);
	margin: 0 auto;
 	animation: slideshow 20s linear infinite;
}
.images {
  	position: absolute;
  	left: 0;
  	top: 0;
 	height: 100%;
 	width: 300%;
 	animation: slideshow 20s linear infinite;
 	transform: translate3d(0, 0, 0);
}



@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -100%; }
}

.office_locations {
	font-family: "Raleway", sans-serif;
	position: static;
	margin: 100px 10%;
	display: inline-block;
	float: left;
}
	.office_locations img {
		float: left;
		width: 50%;
	}
	.office_locations h1 {
		float: left;
		font-weight: 300;
		font-size: 50px;
		padding-left: 5%;
		color: rgb(2, 118, 129);
		width: 30%;
	}
	.office_locations p {
		float: left;
		width: 50%;
		color: #505759;
		padding-left: 5%;
		padding-top: 20px;
		font-size: 20px;
	}
.jobs_departments {
	width: 100%;
	position: static;
	background: #dcddde;
}
.departments {
	border-width: 10px;
	border-style: outset;
	background: rgb(2,118,129);
	height: 200px;
}
.departments:hover {
	border-style: inset;
}
	.departments.col-md-4 {
		padding: 0;
	}
	.departments h1 {
		text-align: center;
		color: white;
		margin-top: 50px;
		padding: 0px;
		/* line-height: 200px; */
	}
	.departments p {
		text-align: center;
		color: white;
		font-style: italic;

	}
.jobs_section {
	position: static;
	height: 200px;
	text-align: center;
	margin-top: 100px;
	margin-left: 10%;
}

div[id$="jobs"] {
    display: none;
}

.indiv_jobs {
	border: 2px solid rgb(2,118,129);
	display: inline-block;
	margin: 20px;
}

	.indiv_jobs h1 {
		font-size: 24px;
		color: rgb(2,118,129);
	}
	.indiv_jobs p {
		font-size: 16px;
	}

.footer {
	position: static;
	background-color: black;
}

	/* -------------------------------------------------------------------------------- */
	/* entire container, keeps perspective */

.flip-container {
	perspective: 1000px;
	height: 200px;

	margin-top: 50px;
}

.flip-container .flipper:hover {
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;

	position: relative;
	width: 200px;
	height: 100%;
	margin: 0 auto;
	padding-top: 50px;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
}

/* front pane, placed above back*/
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane*/
.back {
	transform: rotateY(180deg);

	background-color: white;
	color: #047681;
	text-align: left;
	border-radius: 25px;
	padding: 10px;
}
